.footer {
    position: relative;
    background-color: var(--clr-primary-100);
    padding: 7rem 0 0;
}

.footer__container {
    position: relative;
    background: url("/assets/desktop/image-footer.jpg") center center/cover;
    padding: 7rem 5rem;
}
.footer__container-filter {
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: rgba(77, 150, 168, 0.5);
}
.footer__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}
.footer__content-title {
    z-index: 100;
    font-size: var(--fs-40);
    font-weight: var(--fw-900);
    line-height: var(--lh-110);
    color: var(--clr-primary-100);
}

.footer__content-text {
    z-index: 100;
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    line-height: var(--lh-150);
    color: var(--clr-primary-100);
    max-width: 22rem;
}
.footer__pattern {
    z-index: 100;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    text-align: center;
}

.footer__pattern-line {
    position: relative;
    width: 1px;
    height: 80px;
    background-color: var(--clr-primary-600);
}
.footer__pattern-circle {
    position: absolute;
    top: 80px;
    left: -28px;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--clr-primary-100);
    border: 1px solid var(--clr-primary-600);
    border-radius: 50%;
    padding: 1rem;
}
