.hero {
    padding: 12rem 0rem 4rem;
    background-color: var(--clr-tretiary-300);
}

.hero__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.hero__image-left {
    padding-right: 5rem;
}

.hero__image-right {
    padding-left: 5rem;
}

.hero__content-title {
    font-size: var(--fs-64);
    font-weight: var(--fw-900);
    line-height: var(--lh-110);
    color: var(--clr-primary-900);
    margin: 0 0 2rem;
}

.hero__content-title--cyan {
    color: var(--clr-secondary-600);
}

.hero__content-text {
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    line-height: var(--lh-150);
    color: var(--clr-primary-900);
    margin: 0 0 2rem;
}

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}