.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent;
    padding: 1rem 2rem;
}

.navbar.navbar--scroll {
    background: #ffffff1a;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(16.5px);
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__main-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.navbar__main-menu-link {
    font-size: var(--fs-18);
    font-weight: var(--fw-900);
    text-decoration: none;
    color: var(--clr-primary-900);
    cursor: pointer;
}
.navbar__main-menu-link:hover {
    color: var(--clr-secondary-600);
}


